﻿@charset "utf-8";
/* CSS Document */

body{border:0px none; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;word-break:break-all;MARGIN: 0; text-align:center }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px; } 
 h3 {margin:0; font-size:12px }
 dl {font-weight:400; margin:0; padding:0 }
 dt {font-weight:400; margin:0; padding:0 }
 dd {font-weight:400; margin:0; padding:0 }
 ul{margin:0; padding:0; list-style-type:none;list-style-position:inside
}
 li {margin:0; padding:0 }
 div { margin:0; padding:0}

 form {margin:0 }
 input {border:1px solid #cccccc; background:#fff }
 img {border:none } 
 a {color:#666666; text-decoration:none }
 a:hover {color:#ff451d; text-decoration:none} 
 .blue {color:#0f4bac }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }
 .clear {clear:both } 
 .bold{ font-weight:800}
 .del{text-decoration:line-through}
 
 .text_left{ text-align:left}
 .margin_left{margin-left:45px}
 
 #container{	
		margin:0 auto;
		width:1024px;
		background:#fff;
		}	
 #top{ height:79px; width:1024px; background:url(../images/top_bg.gif) repeat-x}
 .topleft{ width:25%; height:100%; float:left; background:url(../images/logo.gif) no-repeat center bottom}
 .topright{ width:75%; height:100%; float:left}
 
 .topright_top{ height:36px; width:701px; line-height:36px; text-align:right; padding-right:25px}
 .lanmu{ height:43px; width:701px;}
 .lanmu li{ margin-left:15px; float:left}
 .lanmu li a{ display:block; height:43px; width:91px; background:url(../images/l_bg_1.gif) no-repeat;  }
 .lanmu li a .t{padding-top:10px;color:#666666; font-weight:800; } 
 .lanmu li a:hover{ background:url(../images/l_bg_0.gif) no-repeat}
 .lanmu li span{ display:block; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-weight:400; margin:0}
 
 .lanmu li a.lanmuon{background:url(../images/l_bg_0.gif) no-repeat;}

 
 
 #mainbanner{ width:1024px; background:url(../images/main_banner_bg.gif) repeat-x; vertical-align:baseline; z-index:-100px}
 
 #mainbanner { width:1024px; background:url(../images/main_banner_bg.gif) repeat-x; vertical-align:baseline; z-index:-100px}

 #maincontent_all{width:1024px; height:auto;text-align:left}
 #maincontent{  height:100%; width:907px; background:url(../images/maincontent_bg.gif) no-repeat top; padding-left:28px; padding-top:12px }



 .maincontent_lanmu_w1{ float:left;width:276px;}
 .maincontent_lanmu_w2{ float:left;width:386px;  margin-left:17px}
 .maincontent_lanmu_w3{ float:left;width:178px;  margin-left:5px}
 .maincontent_lanmu_w3 p{ margin-top:5px}
 
 .mainNewTitle span{ float:left; height:15px;font-size:14px; color:#666666;}
 
 .mainNewTitle a{ float:right; height:15px;}
 
 .mainNewContent{ height:95px; width:100%; clear:both}
 .mainNewContent ul{ padding-left:-5px}
 .mainNewContent ul li{ height:23px;margin:0; padding:0}
 .mainNewContent ul li a{ float:left; line-height:23px;}
 .mainNewContent ul li span{ float:right; line-height:23px; color:#666666;}
 
 #zhanshi{ width:386px; height:103px; clear:both; padding-left:18px}
 #zhanshiContent{ width:339px;}
 #zhanshiContent ul{ }
 #zhanshiContent ul li{ width:339px; height:103px; overflow:hidden; }
 
 #footer{ width:1024px; height:42px; margin:25px 0px 15px 0px; clear:both}
 #footer .footer_content{ width:907px; margin-left:35px}
 #footer .small_logo{ width:135px; height:100%; float:left}
 #footer .right{ width:724px; float:left; margin-left:15px}
 #footer .right p{ height:22px; line-height:22px; text-align:left; color:#666666}
 
 .left_bg{height:376px; background:url(../images/left_bg.gif) no-repeat;}
 .left_bg2{height:291px; background:url(../images/left_bg2.gif) no-repeat;}
 #about_left{ width:178px;  float:left; position:relative; left:18px; top:-36px; z-index:10000px}
 #about_left p { margin-top:12px; margin-left:14px}
 #about_left li { margin-left:5px;height:29px; width:151px; line-height:29px; background:url(../images/left_lanmu_bg.gif)  no-repeat; text-indent:23px; font-size:13px}
 #about_left li.on{ background:url(../images/left_lanmu_bg_on.gif) no-repeat}
 #about_left li.on a{ color:#FFF}
 
 #about_right{width:650px; height:auto; float:right; position:relative; left:-35px}
 
 #content_all{ width:90%; height:auto; margin:20px}
 
 .daohang{ height:18px; width:100%}
 .daohang_left{ float:left; padding-left:18px; color:#3b3b3b; font-size:15px; font-weight:500}
 .daohang_right{ float:right;color:#666666;}
 
 .about_content{ margin-top:28px; text-align:left; width:100%}
 
 .news_list{  height:400px}
 .news_list li{ height:33px; line-height:33px; border-bottom:1px #d3d3d3 solid}
 .news_list li span{ float:left; font-weight:800; color:#d3d3d3}
 .news_list li a{ float:left; margin-left:42px}
 .news_content{ margin-top:30px; margin-bottom:60px; text-align:left}
 
 .line{ clear:both; width:1024px; background:url(../images/line.gif) center no-repeat; height:5px}
 .pagelist{float:right; padding-right:50px; clear:both; margin:5px auto; text-align:right}
 
 p#controls{
		margin:0;
		position:relative;
		} 
	
	#prevBtn, #nextBtn{ 
		display:block;
		margin:0;
		overflow:hidden;
		text-indent:-8000px;		
		width:14px;
		height:16px;
		position:absolute;
		left:-18px;
		top:-65px;
		}
	#nextBtn{ 
		left:348px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		width:14px;
		height:16px;
		background:url(../images/main_bt1.gif) no-repeat;	
		}	
	#nextBtn a{ 
		background:url(../images/main_bt2.gif) no-repeat;	
		}	