<div id="footer">
<div class="footer_content">
    <div class="small_logo"><img src="images/slogo.gif" /></div>
    <div class="right">
    	<p><a href="about.asp">关于我们</a> | <a href="#">人才招聘</a> | <a href="#">海外代理</a> | <a href="#">合作伙伴</a> | <a href="#">组织机构</a> | <a href="#">运价查询</a> | <a href="#">资料下载</a> | <a href="#">联系我们</a></p>
        <p>COPYRIGHT 2010 GLOBAL　TRANS　ALL RIGHT RESERVED.</p>
    </div>
</div>
</div>