
<meta name="Copyright" content="Copyright (c) $year$ $cityurl$" /> 
<link href="$skinpath$/css/css.css" rel="stylesheet" type="text/css" />
<meta name="Keywords" content="$pagekeywords$" /> 
<meta name="Description" content="$pagedescription$" /> 
<script src="/jquery/jquery.js" type="text/javascript"></script>
<script src="/js/function.js" type="text/javascript"></script>
<script src="/js/dropdowntabs.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="$skinpath$/css/slidingdoors.css" />
<title>$pagetitle$</title>


</head>
<body>
<div id="container">
<div id="top">
    <div class="topleft"></div>
    <div class="topright">
    	<div class="topright_top"><a href="#" onClick="cjx.setHome(this,'$cityurl$');">设为首页</a> | <a href="javascript:;" onClick="cjx.myAddBookmark('$cityname$','$cityurl$');">加为收藏</a></div>
        <div class="lanmu" id="slidemenu">
        <ul>
        	<li><a href="/"><span class="t">首 页</span><span>Home</span></a></li>
            <li><a href="#"><span class="t">关于我们</span><span>About us</span></a></li>
            <li><a href="#"><span class="t">服务范畴</span><span>Services</span></a></li>
            <li><a href="#"><span class="t">电子商务</span><span>E-Bisness</span></a></li>
            <li><a href="#"><span class="t">新闻中心</span><span>News</span></a></li>
            <li><a href="#"><span class="t">联系我们</span><span>Contact Us</span></a></li>            
        </ul>
        </div>
    </div>
    <br style="clear: left;" />
<br class="IEonlybr" />



<!--1st drop down menu -->                                                   
<div id="dropmenu1_c" class="dropmenudiv_c">
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C1/">Horizontal CSS Menus</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C2/">Vertical CSS Menus</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C4/">Image CSS</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C6/">Form CSS</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C5/">DIVs and containers</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C7/">Links and Buttons</a>
<a href="http://www.dynamicdrive.com/style/csslibrary/category/C8/">Other</a>
</div>


<!--2nd drop down menu -->                                                
<div id="dropmenu2_c" class="dropmenudiv_c" style="width: 150px;">
<a href="http://www.cssdrive.com">CSS Drive</a>
<a href="http://www.javascriptkit.com">JavaScript Kit</a>
<a href="http://www.codingforums.com">Coding Forums</a>
<a href="http://www.javascriptkit.com/jsref/">JavaScript Reference</a>
</div>

<script type="text/javascript">
//SYNTAX: tabdropdown.init("menu_id", [integer OR "auto"])
tabdropdown.init("slidemenu")
</script>
</div>
<div class="clear"></div>
<div id="mainbanner"><img src="images/banner$is_home$.gif" /></div>