$head$
	<script type="text/javascript" src="js/easySlider1.5.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#zhanshiContent").easySlider({
				controlsBefore:	'<p id="controls">',
				controlsAfter:	'</p>',
				auto: true, 
				continuous: true
			});
				
		});	
	</script>
<div id="maincontent_all">
<div id="maincontent" class="margin_left">
	
        <div class="maincontent_lanmu_w1">
            <div class="mainNewTitle"><span>公司新闻 NEWS</span><a href="news.asp?id=1">More</a></div>
               
            <div class="mainNewContent">
            <ul>
            $news_list$
<!--                <li><a href="#">货运系统的升级即将启动..</a><span>2011-01-02</span></li>
                <li><a href="#">新一轮国外合作即将举行..</a><span>2011-01-02</span></li>
                <li><a href="#">海运部欧洲新代理来我司作与..</a><span>2011-01-02</span></li>
                <li><a href="#">船务部部门的扩大..</a><span>2011-01-02</span></li> -->                   
            </ul>
            </div>
            
        </div>
        <div class="maincontent_lanmu_w2">
        	<div class="mainNewTitle"><span>服务范畴 Services</span></div>
            <div id="zhanshi">
            	<div id="zhanshiContent">
                <ul>
                    <li><a href="#"><img src="images/ad1.gif" /></a></li>
                    <li><a href="#"><img src="images/ad2.gif" /></a></li>
                    <li><a href="#"><img src="images/ad3.gif" /></a></li>
                    <li><a href="#"><img src="images/ad4.gif" /></a></li>
                </ul>  
                </div>         
            </div>
        </div>
        <div class="maincontent_lanmu_w3">
        <p><a href="#"><img src="images/about.gif" /></a></p>
        <p><a href="#"><img src="images/chaxun.gif" /></a></p>
        </div>
   		

</div>
</div>

<div id="footer">
<div class="footer_content">
    <div class="small_logo"><img src="images/slogo.gif" /></div>
    <div class="right">
    	<p><a href="#">关于我们</a> | <a href="#">人才招聘</a> | <a href="#">海外代理</a> | <a href="#">合作伙伴</a> | <a href="#">组织机构</a> | <a href="#">运价查询</a> | <a href="#">资料下载</a> | <a href="#">联系我们</a></p>
        <p>COPYRIGHT 2010 GLOBAL　TRANS　ALL RIGHT RESERVED.</p>
    </div>
</div>
</div>
</div>
</body>
</html>
